node_modules/
cache/
artifacts/
coverage/
coverage.json
typechain-types/
.env
.env.local
.env.*.local
artifacts-zk/
tools/
deployments/
*.log
.DS_Store
demo/node_modules/
demo/.next/
demo/next-env.d.ts
